:root {
    --primary-text-color: #212121;
    --secondary-tex-color: #757575;
    --accent-color: #2196F3;
    --white-tex-color: #ffffff;
    --primary-bgc-color: #2F303A;
    --secondary-bgc-color: #F5F4FA;

}

/* колір основного тексту - #212121 */
/* дрюгорядний колір тексту - #757575 */
/* акцент - #2196F3 */
/* білий текст - #ffffff */
/* бекграунд гіро + футер - #2F303A */
/* дрюгорядний бекграунд - #F5F4FA */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .main {
    background: #F5F5F5
  }

/* ШАПКА */

.site-nav .link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .current {
    color: var(--accent-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.part-logo {
    color: var(--accent-color);
}

.contacts {
    text-decoration: none;
    color: var(--secondary-tex-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/* HERO */
.hero {
    background-color: var(--primary-bgc-color);
}
.hero-title {
    color: var(--white-tex-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .btn {
    background-color: var(--accent-color);
    color: var(--white-tex-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

/* features */
.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.features .description {
    color: var(--secondary-tex-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Наша команда */
.team {
    background-color: var(--secondary-bgc-color)
}

.team-member, .team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-member {
    font-weight: 500;
}
.team-position {
    color: var(--secondary-tex-color);
}

/* ЧИМ МИ ЗАЙМАЄМСЯ */

.what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ФУТЕР */
.footer {
    background-color: var(--primary-bgc-color);
}
.footer .logo {
    color: var(--white-tex-color);
}
.main-address {
    color: var(--white-tex-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;

}
.main-address:hover,
.main-address:focus {
    color: var(--accent-color);
}

.footer .contacts {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}
.footer .contacts:hover,
.footer .contacts:focus {
    color: var(--accent-color);
}

/* ПОРТФОЛІО */
.filter {
    display: flex;
}
.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    color: var(--white-tex-color);
    background-color: var(--accent-color);
}
.filter .current {
    background-color: var(--accent-color);
    color: var(--white-tex-color);
}

.project h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project p {
    color: var(--secondary-tex-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

